<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1">
     <listeners>
         <listener class-name="com.webtest.core.WebTestListener"/>
     </listeners>
    <test name="test1">
        <classes>
            <class name="com.webtest.ljjdemo.Site_setting"></class>
            <class name="com.webtest.ljjdemo.Sign_in_setting"></class>
            <class name="com.webtest.ljjdemo.Level_setting"></class>
            <class name="com.webtest.ljjdemo.Growth_setting"></class>
            <class name="com.webtest.ljjdemo.Friendship_link"/>
        </classes>
    </test>
<!--    &lt;!&ndash; 个人信息和签到测试用例（张帅帅） &ndash;&gt;-->
<!--    <test name="zss">-->
<!--        <classes>-->
<!--            <class name="com.webtest.demo.ZSS_InformationTest"></class>-->
<!--            <class name="com.webtest.demo.ZSS_SignInTest"></class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
