<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1">
    <!--    设置监听器-->
    <listeners>
        <listener class-name="com.webtest.core.WebTestListener"/>
    </listeners>

    <!--    设置和其他测试用例（刘俊江）-->
    <!--    <test name="test1">-->
    <!--        <classes>-->
    <!-- <class name="com.webtest.testcases.ljjdemo.Site_setting"/> -->
    <!-- <class name="com.webtest.testcases.ljjdemo.Sign_in_setting"/>-->
    <!-- <class name="com.webtest.testcases.ljjdemo.Level_setting"/> -->
    <!-- <class name="com.webtest.testcases.ljjdemo.Growth_setting"/> -->
    <!-- <class name="com.webtest.testcases.ljjdemo.Friendship_link"/> -->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    个人信息和签到测试用例（张帅帅） -->
    <!-- <test name="zss"> -->
    <!-- <classes> -->
    <!-- <class name="com.webtest.testcases.zssdemo.InformationTest"></class> -->
    <!-- <class name="com.webtest.testcases.zssdemo.SignInTest"></class> -->
    <!-- </classes> -->
    <!-- </test> -->

    <!--    <test name="lpy">-->
    <!--        <classes>-->
    <!--           <class name="com.webtest.testcases.lpydemo.SmokeTest"/>-->
    <!--       </classes>-->

    <!--    </test>-->

    <!-- <test name="xl"> -->
    <!-- <classes> -->
    <!-- <class name="com.webtest.testcases.xldemo.TestDemo"/> -->
    <!-- </classes> -->
    <!-- </test> -->

    <test name="lh">
        <classes>
            <class name="com.webtest.testcases.lhdemo.Section_Management"/>
<!--            <class name="com.webtest.testcases.lhdemo.Point_Management"/>-->
        </classes>
    </test>

    <!--    <test name="wjy">
            <classes>
                  <class name="com.webtest.testcases.wjydemo.TestNewPost"/>
            </classes>
        </test> -->
</suite>

